<% if review.liked_by?(current_user) %>
	<%= link_to review_likes_path(review), method: :delete, remote: true do %>
		<i class="far fa-grin-beam" style="color: #FF4F02;"></i><br>
	<% end %>
		<h6><%= review.likes.count %> 役に立った</h6>
<% else %>
	<%= link_to review_likes_path(review), method: :post, remote: true do%>
		<i class="far fa-smile-beam" style="color: #555555"></i><br>
	<% end %>
		<h6><%= review.likes.count %> 役に立った</h6>
<% end %>

<style>
	.fa-smile-beam, .fa-grin-beam {
		font-size: 25px;
		padding: 10px;
		border-radius: 50%;
	}
	.fa-smile-beam:hover, .fa-grin-beam:hover {
		border-radius: 50%;
		background-color: #FFC7AF;
		transition: 0.5s;
	}
</style>
