<div class="container bottom-space">
	<div class="row bottom-space">
		<div class="deactive-account-form">
			<%= link_to edit_user_path(@user) do %>
				<p><i class="fas fa-chevron-left"></i> 戻る</p>
			<% end %>
			<ul class="list-group deactivate-account-form-list top-space ">
				<li class="list-group-item list-group-item-danger">退会申請</li>
				<li class="list-group-item">
					退会をされますと、この会員に関する全ての情報が削除されます。<br>
					本当に退会しますか？
					<div class="deactivate-account-btn">
						<% if user_signed_in? && @user.id == current_user.id %>
						    <%= link_to "退会する", users_hide_path(@user), method: :put, "data-confirm" => "退会申請を確定する。", class:"btn btn-sm btn-red" %>
						<% end %>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
