<%= render 'homes/header' %>

<section class="top-space">
	<h4 class="title">ブックマークした商品一覧</h4>
	<%= render 'all_bookmark', bookmarks: @bookmarks, bookmarked_items: @bookmarked_items %>
</section>

 <style>
	.search_for_purchase {
		display: block;
	}
</style>
