<%= render 'homes/header' %>

<h3 align="center">レビューを書いた商品一覧</h3>
<div class="my-reviews">
	<% @reviews.each_with_index do |review,i| %>
		<%= render 'reviews/review_each', review: review, item: @items[i] %>
	<% end %>
	<div align="center">
		<%= paginate @reviews %>
	</div>
</div>

<style>
	.search_for_purchase {
		display: block;
	}
</style>
