<%= render 'homes/header' %>

<section class="top-space">
	<div class="u-width">
		<h4>レビューを書いた商品一覧</h4>
	</div>
	<%= render 'all_reviews', reviews: @reviews, items: @items %>
	<div align="center">
    <%= paginate @reviews %>
  </div>
</section>
