<%= render 'homes/header' %>

<div class="container" id="about_background">
	<div class="row">
		<div>
		<h3 id="about_headline">FitReviewsはあなたにあったプロテインパウダーやプロテインスナック選びに導きます。<br>
		<h4 class="about_text">フィットネス商品のレビュー、ランキングなどを掲載しています。</h4>
		<h4 class="about_text">ユーザーによる実際の評価を見てベストな商品を見つけよう！</h4>
		</div>
	</div>
</div>

<style>
	.search_for_purchase {
		display: block;
	}
</style>