<%= render 'homes/header' %>
<div class="container" id="about_background">
	<div class="row">
		<div>
		<h3>FitReviewsはあなたにあったプロテインパウダーやプロテインスナック選びに導きます。<br>
		<h4>フィットネス商品のレビュー、ランキングなどを掲載しています。</h4>
		<h4>ユーザーによる実際の評価を見てベストな商品を見つけよう！</h4>
		</div>
	</div>
</div>

<style>
	.search_for_purchase {
		display: block;
	}
	h3 {
		color: white;
		position: relative;
		top: 200px;
		padding-bottom: 10px;
	}
	h4 {
		color: white;
		position: relative;
		top: 200px;
		padding-bottom: 3px;
	}
</style>