<div class="container top-container">
	<div class="row top-row">
		<nav class="nav navbar-nav navbar-right">
			<div id="show-nav"><i class="fas fa-plus-square"></i></div>
			<ul id="top-nav-list">
				<li id="hide-nav"><i class="fas fa-minus-square"></i></li>
				<li><a class="btn btn-sm top-btn" href="#profile"><h4>Profile</h4></a></li>
				<li><a class="btn btn-sm top-btn" href="#skills"><h4>Skills</h4></a></li>
				<li><a class="btn btn-sm top-btn" href="#portfolio"><h4>Portfolio</h4></a></li>
				<li><a class="btn btn-sm top-btn" href="#contact"><h4>Contact</h4></a></li>
			</ul>
		</nav>
	</div>
	<!-- プロフィール -->
	<div class="row top-row">
		<div id="profile">
			<h1><i class="fas fa-user"> Profile</i></h1><br>
			<div class="top-flex">
				<div>
					<%= image_tag asset_path('Akihito_Otsuka.png'), id:"my-profile-pic" %>
				</div>
				<div class="my-introduction">
					<p class="line-h">はじめまして。大塚章仁と申します。<br>
						プロフィールを見ていただきありがとうございます。<br>
						私はアメリカの大学を2019年に卒業し、その後はプログラミングスクールに通いたいと思っていたので、プログラミングスクールの学費調達のためにアルバイト入社し勤めていました。<br>
						そして今年2020年にエンジニアになりたいという思いからDMM WEBCAMPというプログラミングスクールに3ヶ月通い、現在転職活動中です。
						また、転職活動をしながらドットインストールなどのプログラミング学習サイトを利用してプログラミングの勉強を毎日続けております。
						ページ下にポートフォリオのURLも記載しているので、是非一度見ていただけると幸いです。
						よろしくお願いいたします。</p>
				</div>
			</div>
		</div>
	</div>
	<!-- スキル -->
	<div class="row top-row">
		<div id="skills">
			<h1><i class="fas fa-lightbulb"> Skills</i></h1>
			<div class="skills-flex skills-list">
				<div>
					<h3><i class="fas fa-desktop"> プログラミング言語</i></h3>
					<h4>HTML</h4>
					<h4>CSS</h4>
					<h4>Ruby</h4>
					<h4>JavaScript</h4>
					<h4>jQuery</h4>
					<h3><i class="far fa-window-maximize"> フレームワーク</i></h3>
					<h4>Ruby on Rails</h4>
				</div>
				<div>
					<h3><i class="fas fa-box-open"> その他</i></h3>
					<h4>Git/GitHub</h4>
					<h4>Slack</h4>
					<h4>ZOOM</h4>
					<h4>Remo</h4>
					<h4>Trello</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- ワーク -->
	<div class="row top-row">
		<div id="portfolio">
			<h1><i class="fas fa-briefcase"> Portfolio</i></h1>
			<div class="portfolio-list">
				<!-- FitReviewsへ -->
				<h3>ポートフォリオ名: FitReviews</h3>
				<h4><i class="fas fa-arrow-down"></i> (下の画像をクリック) <i class="fas fa-arrow-down"></i></h4>
				<%= link_to root_path do %>
					<%= image_tag asset_path('fr_top.png'), class:"portfolio-pic" %>
				<% end %>
				<div class="portfolio-info line-h" align="left">
					<h4><strong>GitHub:</strong></h4>
						<p><a href="https://github.com/akki1027/FitReviews">https://github.com/akki1027/FitReviews</a></p>
					<h4><strong>ポートフォリオ説明:</strong></h4>
						<p>FitReviwsはフィットネス商品の口コミサイトです。<br>
						ユーザーはフィットネスに関連する商品の口コミを投稿することができ、ユーザーの評価によるジャンル別ランキングを表示しています。<br>
						プロテイン、栄養補助スナック、サプリメント、筋トレ器具などフィットネスに欠かせない幅広い商品の口コミをシェアして、ユーザー同士が商品を選ぶ際の決めてになればと思います。</p>
					<h4><strong>主な利用シーン:</strong></h4>
						<p>どのプロテイン、栄養補助スナック、サプリメント、筋トレ器具などを買えばいいかわからない時が主な利用シーンになります。<br>
						フィットネスを始めたけどどのサプリメントがいいかわからない初心者の方から、より美味しい味や栄養価パフォーマンスの良い商品などを求めている上級者まで利用することができます。<br>
						また自分のオススメ商品の口コミを書くことで、他のユーザーの手助けになりたいと思う際にも利用することができます。</p>
					<h4><strong>テーマを選んだ理由:</strong></h4>
						<p>私はジムで週5日以上の筋トレを約8年間続けており、プロテインやサプリメントなどを購入する際にどれを買えばいいかと迷うことがよくありました。そしてどれを買えばいいかと悩んでも、決め手となるような口コミサイトがありませんでした（個人で自分のブログなどに紹介しているものしかない）。<br>
						どのプロテインやサプリメントが一番いいのか、またどれを買えばいいのかというのはフィットネス界の永遠のテーマでもあります。<br>
						そんな悩みを同じ筋トレまたは健康を気にしている仲間同士で情報を共有し合う場を提供し、購入する際の決めてとなればいいなという思いからこのテーマを選びました。</p>
					<h4><strong>ターゲットユーザー:</strong></h4>
						<p>
							・筋トレをされている方<br>
							・または健康を心掛けている方</p>
				</div>
			</div>
		</div>
	</div>
	<!-- お問い合わせ -->
	<div class="row top-row">
		<div id="contact">
			<h1><i class="fas fa-envelope"></i> Contact</h1>
			<h4>お問い合わせはこちらからよろしくお願いいたします。</h4>
			<address><a href="mailto:akki0127808@gmail.com">akki0127808@gmail.com</a></address>
		</div>
	</div>
</div>

<style>
footer {
	display: none;
}
</style>
