<div class="container top-container">
	<div class="row top-row">
		<nav class="nav navbar-nav navbar-right">
			<button id="show-nav"><i class="fas fa-plus-square"></i></button>
			<ul id="top-nav-list">
				<li id="hide-nav"><i class="fas fa-minus-square"></i></li>
				<li><a class="btn btn-sm top-btn" href="#profile"><h4>Profile</h4></a></li>
				<li><a class="btn btn-sm top-btn" href="#skills"><h4>Skills</h4></a></li>
				<li><a class="btn btn-sm top-btn" href="#portfolio"><h4>Portfolio</h4></a></li>
				<li><a class="btn btn-sm top-btn" href="#contact"><h4>Contact</h4></a></li>
			</ul>
		</nav>
	</div>
	<!-- プロフィール -->
	<div class="row top-row">
		<div id="profile">
			<h1><i class="fas fa-user"> Profile</i></h1><br>
			<div class="top-flex">
				<div>
					<%= image_tag asset_path('Akihito_Otsuka.png'), id:"my-profile-pic" %>
				</div>
				<div class="my-introduction">
					<h4>はじめまして。大塚章仁と申します。<br>
						現在、DMM WEBCAMPに通いプログラミングの勉強をしております。<br>
						よろしくお願いいたします。</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- スキル -->
	<div class="row top-row">
		<div id="skills">
			<h1><i class="fas fa-lightbulb"> Skills</i></h1>
			<div class="skills-flex skills-list">
				<div>
					<h3><i class="fas fa-desktop"> プログラミング言語</i></h3>
					<h4>HTML</h4>
					<h4>CSS</h4>
					<h4>Ruby</h4>
					<h4>JavaScript</h4>
					<h4>jQuery</h4>
					<h3><i class="far fa-window-maximize"> フレームワーク</i></h3>
					<h4>Ruby on Rails</h4>
				</div>
				<div>
					<h3><i class="fas fa-box-open"> その他</i></h3>
					<h4>Git/GitHub</h4>
					<h4>Slack</h4>
					<h4>ZOOM</h4>
					<h4>Remo</h4>
					<h4>Trello</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- ワーク -->
	<div class="row top-row">
		<div id="portfolio">
			<h1><i class="fas fa-briefcase"> Portfolio</i></h1>
			<div class="portfolio-list">
				<!-- FitReviewsへ -->
				<h3>ポートフォリオ名: FitReviews</h3>
				<h4><i class="fas fa-arrow-down"></i> (下の画像をクリック) <i class="fas fa-arrow-down"></i></h4>
				<%= link_to fr_top_path do %>
					<%= image_tag asset_path('fr_top.png'), class:"portfolio-pic" %>
				<% end %>
				<div>
					<h4 align="left"><strong>ポートフォリオ説明:</strong><br>
						FitReviewsはユーザー投稿型の筋トレ商品専門の口コミサイトです。<br>
						プロテインパウダーやその他のサプリメント、またダンベルなどといった筋トレ器具の口コミを書く事ができ、<br>
						口コミの評価による商品ランキングを見る事も可能です。『プロテインパウダーやサプリメントなどどれを買っ<br>ていいかわからない。』といった方々の悩みを解消する場を提供できれば良いなという思いを込めています。</h4>
					<h4 align="left"><strong>ターゲットユーザー:</strong><br>
						筋トレをされている方、または健康を心掛けている方々全員。</h4>
				</div>
			</div>
		</div>
	</div>
	<!-- お問い合わせ -->
	<div class="row top-row">
		<div id="contact">
			<h1><i class="fas fa-envelope"></i> Contact</h1>
			<h4>お問い合わせはこちらからよろしくお願いいたします。</h4>
			<address><a href="mailto:akki0127808@gmail.com">akki0127808@gmail.com</a></address>
		</div>
	</div>
</div>

<style>
footer {
	display: none;
}
</style>
