/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.raty.css
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.width-90 {
	margin: 0 auto;
	width: 90%;
}
.width-90-f {
	width: 90%;
}
.border-top {
	border-top: 1px solid #ddd;
}
.ranking-genre-select {
	width: 200px;
	display: inline-block;
}
.ranking-submit {
	width: 60px;
	display: inline-block;
}
.pagination > li > .page-link {
	color: white;
	background: #238ffc;
	border-color: #337ab7;
}
.pagination > li > .page-link:hover {
	color: white;
	background: #337ab7;
	border-color: #337ab7;
}
.pagination > li > a {
  color: #696969;
}
.pagination > .active > a {
  background: #238ffc;
}
.dropdown-menu {
	min-width: 0;
	left: -47px;
}
.top-space {
	margin-top: 50px;
}
.top-sm-space {
	margin-top: 15px;
}
.bottom-space {
	margin-bottom: 50px;
}
.rakuten-btn {
	color: #FFF;
	background-color: rgb(191, 0, 0);
	margin: 5px;
	padding: 3px;
}
.rakuten-btn:hover {
	color: #FFF;
	background-color: #8F0502;
}
.review-btn {
	color: white;
	background-color: #FEA608;
	margin: 5px;
	padding: 3px;
}
.review-btn:hover {
	color: white;
	background-color: #E29407;
}
.required-message {
	color: hsl(0, 60%, 60%);
}
.required-field {
	border: 1px solid hsl(0, 60%, 60%);
}
//---sign-in-log-in------------------------------------------
.devise-header {
	margin-bottom: 0;
	padding: 11px 50px 3px;
	border-radius: 0;
	border-bottom: 2px solid #ddd;
	line-height: 48px;
}
.submit1 {
  width: 100%;
  color: white;
  background-color: #0099CC;
  padding: 3px;
}
.sign-up-info, .user-login-info {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 270px;
  padding: 20px;
  margin: 50px auto 200px;
  box-shadow: 0 0 5px gray;
}
.sign-up-table, .login-table {
  width: 220px;
}
.sign-up-field, .login-field {
  padding: 5px 0;
}
//---header--------------------------------------------------
#top-nav-list > li:not(:nth-child(1)) {
	float: left;
	list-style: none;
	text-decoration: none;
}
.navbar-color {
	background-color: white;
}
.sticky-header {
	margin-bottom: 0;
	padding: 11px 50px 3px;
	border-radius: 0;
	position: sticky;
	top: 0;
	z-index: 100;
	border-bottom: 2px solid #ddd;
	line-height: 48px;
}
.nav-width {
	width: 96%;
	margin: 0 auto;
}
.nav-search {
	display: inline-block;
	margin-left: 8px;
	width: 39%;
}
.FitReviews-logo {
	color: white;
	font-size: 25px;
	font-weight: bold;
	font-family: Helvetica;
}
.FitReviews-logo:hover {
	color: white;
	text-decoration: none;
}
.FitReviews-logo-header {
	color: #FEA608;
	font-size: 25px;
	font-weight: bold;
	font-family: Helvetica;
	user-select: none;
}
.FitReviews-logo-header:hover {
	color: #FEA608;
	text-decoration: none;
}
.FitReviews-logo-header:active {
	color: #FEA608;
	text-decoration: none;
}
#nav-list {
	display: flex;
	flex-direction: row;
	list-style: none;
	text-decoration: none;
	padding-left: 0;
	z-index: 100;
}
#nav-list > li {
	margin-left: 5px;
}
.nav-ranking-btn {
	color: #FEA608;
	border: 1px solid #FEA608;
	font-size: 14px;
	padding: 10px;
}
.nav-ranking-btn:hover {
	color: #FFCC00;
	border: 1px solid #FFCC00;
}
.nav-btn {
	color: black;
	font-size: 14px;
	padding: 10px;
}
.nav-btn:hover {
	color: black;
	border: 1px solid black;
}
.nav-user-info, #hide-nav {
	display: none;
}
#hide-nav {
	display: none;
	font-size: 25px;
}
#show-nav {
	display: none;
	margin-right: 20px;
	font-size: 25px;
}
//---footer--------------------------------------------------
.footer-background {
	background-color: #FEA608;
}
.footer-flex {
	display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid white;
  padding-bottom: 50px;
}
.footer-flex > div {
	width: 50%;
}
.about-title {
	font-size: 16px;
	color: #DD0000;
	padding-top: 7px;
	padding-left: 10px;
}
.footer-btn {
  color: white;
  font-size: 16px;
}
.footer-btn:hover {
  color: white;
  text-decoration: underline;
}
.credit {
  margin-bottom: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: white;
}
.credit * {
  margin: 10px;
}
.copyright {
	padding-top: 13px;
	padding-right: 13px;
}
//---search--------------------------------------------------
.search-flex {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 343px;
  left: 0;
	right: 0;
	justify-content: center;
	width: 100%;
}
.top-select {
	height: 55px;
	width: 156px;
	border-right: none;
	border-top-right-radius : 0;
	border-bottom-right-radius : 0;
	cursor: pointer;
	background-color: white;
}
.top-search-nest {
	width: 60vw;
}
.top-search-nest * {
	height: 55px;
}
.top-search-textfield {
	border-top-left-radius : 0;
	border-bottom-left-radius : 0;
	background-color: white;
	border-right: transparent;
}
.top-search-submit {
	background: white;
	border-left: transparent;
}
.top-search-submit:hover {
	background: white;
}
.fa-search {
	height: 16px !important;
}
// header-search-----
.header-search-flex {
	display: flex;
	flex-direction: row;
  left: 0;
	right: 0;
	margin-left: 5px;
	margin-right: 5px;
}
.header-select {
	height: 50px;
	width: 156px;
	border-right: none;
	border-top-right-radius : 0;
	border-bottom-right-radius : 0;
	cursor: pointer;
	background-color: white;
}
.header-search-nest {
	width: 17vw;
}
.header-search-nest * {
	height: 50px;
}
//---flash-notice--------------------------------------------
.flash-notice {
	margin-top: 5px;
	color: #0099CC;
	text-align: left;
}
//---word-break----------------------------------------------
.word-break {
	word-break: break-all;
	overflow-wrap: break-word;
}
//---btn-----------------------------------------------------
.btn2 {
	border-bottom: 1px solid #ddd;
	padding: 3px;
	display: inline-block;
	margin-left: 27px;
	font-size: 20px;
}
//---user-name-----------------------------------------------
.user-name {
	margin-left: 3px;
}
.profile-photo {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
}
//---item-price----------------------------------------------
.item-price {
	color: #777777;
	text-align: right;
}
//----rate-star----------------------------------------------
.rate-star {
	color: #FFCC00;
}
//---fixed-sized-text-area-----------------------------------
.fixed-size {
	resize: none;
}
//---like-icon-----------------------------------------------
.liked {
	font-size: 15px;
	padding: 7px;
	border-radius: 5px;
	color: #FEA608;
}
.not-liked {
	font-size: 15px;
	padding: 7px;
	border-radius: 5px;
	color: black;
}
.liked:hover, .not-liked:hover {
	background-color: #FFEDC1;
	transition: 0.5s;
}
.like-text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin-left: 3px;
}
//---bookmark-icon-------------------------------------------
.bookmark {
	font-size: 20px;
	padding: 7px;
}
.bookmarked {
	font-size: 20px;
	padding: 7px;
	color: #2C7CFF;
}
//---item-table----------------------------------------------
.search-by-flex {
	display: flex;
	flex-wrap: wrap;
}
.genre-by,
.keyword-by {
	margin: 5px;
}
.genre-label,
.keyword-label {
	font-weight: bold;
	font-size: 16px;
}
.search-results, .my-bookmarks, .my-reviews {
	margin: 10px 0;
}
.flex-item-tables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-around;
}
.item-table {
	width: 20vw;
	height: 400px;
	margin: 20px;
	border-bottom: 1px solid #CCCCCC;
}
.wide-review-btn {
	color: white;
	background-color: #FEA608;
	width: 100%;
	padding: 3px;
}
.wide-review-btn:hover {
	color: white;
	background-color: #E29407;
	padding: 3px;
}
.m-rakuten-btn {
	color: #FFF;
	background-color: rgb(191, 0, 0);
	width: 45%;
	padding: 3px;
}
.m-rakuten-btn:hover {
	color: #FFF;
	background-color: #8F0502;
	padding: 3px;
}
.m-review-btn {
	color: white;
	background-color: #FEA608;
	width: 50%;
	padding: 3px;
}
.m-review-btn:hover {
	color: white;
	background-color: #E29407;
	padding: 3px;
}
//---flex-column---------------------------------------------
.flex-parent-column {
	display: flex;
	justify-content: space-around;
}
.first-child {
	width: 20vw;
}
.second-child {
	width: 50vw;
}
//---item----------------------------------------------------
.item {
	margin-top: 20px;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
}
.flex-action {
	display: flex;
	text-align: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.flex-action > div {
	margin-top: 5px;
	margin-left: 10px;
}
.rakuten-info {
	border: 1px solid #eee;
	padding: 10px;
	text-align: left;
}
.rakuten-info > p:first-child {
	color: #8F0502;
	font-weight: bold;
}
//---review-form---------------------------------------------
.write-a-review-btn {
	color: black;
	background-color: #E8E8E8;
	border: 1px solid black;
	border-radius: 3px;
	margin-left: 135px;
	margin-bottom: 20px;
	padding: 5px;
}
.form:nth-child(1) {
	margin: 20px 0;
	padding: 20px 0;
}
.form:nth-child(n+2) {
	margin: 20px 0;
	padding: 20px 0;
	border-top: 1px solid #CCCCCC;
}
.form-submit-btn {
	color: white;
	background-color: #FEA608;
	padding: 5px 10px;
}
.form-close-icon {
	font-size: 18px;
	color: rgba(0, 0, 0, 0.603);
	padding: 7px 10px 3px;
	margin-left: 20px;
	cursor: pointer;
}
.hide-form {
	display: none;
}
.show-form {
	display: block;
}
#review-form {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 20px;
  width: 70%;
  margin: 15px auto;
}
.edit-form {
	width: 70%;
	margin: 15px auto;
	padding: 20px;
}
//---each-review---------------------------------------------
.title2 {
	margin-left: 135px;
	margin-bottom: 20px;
	font-weight: normal;
}
.each-review {
	width: 70%;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	margin: 30px auto;
}
.review-first-section {
	display: flex;
	justify-content: flex-end;
	margin-top: 5px;
}
.review-first-section > :first-child {
    margin-right: auto;
}
/*dropdown*/
.fa-angle-down {
	color: #8B8B8B;
	font-size: 20px;
}
.dropdown-angle {
	border-radius: 50%;
}
.dropdown-angle:hover {
	border-radius: 50%;
	background-color: #FFEDC1;
	transition: 0.5s;
}
//reviiews---------------------------------------------------
.reviews {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 10px;
}
.review {
	width: 47%;;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin: 0 10px 30px;
}
.elems {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
.left-elem {
	margin-right: 30px;
}
.right-elem {
	width: 70%;
}
.flex-bet {
	display: flex;
	justify-content: space-between;
}
.review-body * {
	margin-top: 10px;
}
.review-img {
	width: 250px;
	height: auto;
}
.time-created {
	color: gray;
}
//responsive-------------------------------------------------
@media screen and (max-width:1024px) {
	.m-review-btn {
		width: 100%;
	}
	.m-rakuten-btn {
		width: 100%;
		margin-top: 10px;
	}
	.flex-nav {
		display: flex;
		flex-wrap: wrap;
	}
	.flex-nav > div:nth-child(2) {
		order: 3;
	}
	.flex-nav > div:nth-child(3) {
		margin-left: auto;
	}
	.nav-search {
		width: 95%;
		margin-left: 0;
		margin-bottom: 4px;
	}
	.search-text-field {
		width: 40vw;
	}
	.header-search-nest {
		width: 50vw;
	}
}
@media screen and (max-width:768px) {
  .flex-item-tables {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.item-table {
		width: 30vw;
		height: 400px;
		margin: 20px;
		border-bottom: 1px solid #CCCCCC;
	}
	.m-review-btn {
		width: 100%;
	}
	.m-rakuten-btn {
		width: 100%;
		margin-top: 10px;
	}
	.flex-parent-column {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}
	.first-child {
		width: 90vw;
	}
	.second-child {
		width: 90vw;
	}
	.title2 {
		margin-left: 30px;
	}
	.write-a-review-btn {
		margin-left: 30px;
	}
	.each-review {
		width: 90%;
	}
	.review {
		width: 95%;
	}
	#review-form {
		width: 90%;
	}
	.edit-form {
		width: 90%;
	}
//---header--------------------------------------------------
	#top-nav-list > li:not(:nth-child(1)){
		clear: both;
		margin-left: 20px;
	}
	.navbar {
		padding: 7px 5px;
	}
	.navbar-left {
		display: inline-block;
	}
	.navbar-right {
		display: inline-block;
		float: right;
	}
	#show-nav, .nav-user-info {
		display: block;
	}
	.fa-bars {
		color: black;
	}
	#hide-nav {
		display: block;
		text-align: right;
    padding: 5px 10px 0 0;
	}
	#nav-list {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 68%;
		min-height: 100%;
		background-color: white;
		padding: 0;
	}
	#nav-list > li:nth-child(-n+2) {
		margin-left: 0;
		color: white;
		background-color: #FEA608;
	}
	#nav-list > li:nth-child(n+2) {
		margin-left: 0;
		margin-bottom: 5px;
		border-bottom: 1px solid #ddd;
		padding-left: 5px;
		padding-bottom: 10px;
	}
	.nav-btn  {
		color: black;
	}
	.nav-btn:hover {
		color: black;
		border: 1px solid white;
	}
}
@media screen and (max-width:425px) {
	// search------
	.top-select,
	.top-search-nest * {
		height: 50px;
	}
	.search-flex *,
	.header-search-flex * {
		font-size: 10px;
	}
	.top-select,
	.header-select {
		width: 115px;
    padding: 6px;
	}
	// ------------
	.item-table {
		width: 80%;
		height: 400px;
		margin: 20px;
		border-bottom: 1px solid #CCCCCC;
	}
	.m-review-btn {
		width: 50%;
	}
	.m-rakuten-btn {
		width: 45%;
		margin-top: 0;
	}
	#review-form {
		width: 100%;
	}
	.edit-form {
		width: 100%;
	}
	.rank-num {
		width: 25%;
	}
	.footer-btn {
		font-size: 14px;
	}
}
