/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.flash-notice {
	margin-top: 5px;
	color: #0099CC;
	text-align: left;
}

.rakuten_btn {
	color: black;
	background-color: #FFFF99;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

.rakuten_btn:hover {
	background-color: #FFFF00;
}

.half-rakuten_btn {
	color: black;
	background-color: #FFFF99;
	border: 1px solid #CCCCCC;
	width: 45%;
}

.half-rakuten_btn:hover {
	background-color: #FFFF00;
}

.review_btn {
	color: white;
	border-radius: 5px;
	background-color: #FF773E;;
	padding: 10px;
}

.review_btn:hover {
	color: white;
	background-color: #FF4F02;
}

.half-review_btn {
	color: white;
	border-radius: 5px;
	background-color: #FF773E;;
	width: 50%;
}

.half-review_btn:hover {
	color: white;
	background-color: #FF4F02;
}

.wider-review_btn {
	color: white;
	border-radius: 5px;
	background-color: #FF773E;
	width: 100%;
}

.wider-review_btn:hover {
	color: white;
	background-color: #FF4F02;
}

.item-search-results-table {
	height: 400px;
	margin: 10px;
	border-top: 1px solid #CCCCCC;
}

.item-price {
	color: #777777;
	text-align: right;	
}

.rate-star {
	color: #FFCC00;
}
