// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//---top-----------------------------------------------------
.top-container {
	margin: 0 auto;
	text-align: center;
}
.top-btn {
	font-size: 20px;
	color: black;
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.top-btn:hover {
	background-color: #F8F8FF;
}
.top-btn:active {
	-webkit-transform: translateY(4px);
	transform: translateY(4px);/*下に動く*/
}
.top-flex {
	display: flex;
	justify-content: center;
}
#my-profile-pic {
	height: 200px;
	width: auto;
	border-radius: 5%;
}
.my-introduction {
	margin-left: 10px;
	text-align: left;
}
.skills-flex {
	display: flex;
	justify-content: space-around;
}
.skills-list {
	text-align: left;
}
.top-row:nth-child(n+3) {
	margin-top: 100px;
}
#skills {
	box-shadow: 0 5px 17px -7px gray;
	padding: 10px;
}
.portfolio-list {
	margin-top: 60px;
}
.portfolio-pic {
	height: 300px;
	width: auto;
	padding: 10px;
	margin: 10px;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
}
.portfolio-pic:hover {
	box-shadow: 0 0 10px gray;
}
#contact {
	margin-bottom: 50px;
	box-shadow: 0 5px 17px -7px gray;
	padding: 10px;
}
//---end-----------------------------------------------------

//---fr_top--------------------------------------------------
.mv {
	height: 600px;
	width: 100%;
	background-image: image-url("plates-and-protein.jpg");
	background-position: center;
	background-size: cover;
}
// search-----------------
.search-form {
	width: 300px;
	padding: 10px;
	margin: 120px auto 0;
	background-color: white;
	border-radius: 5px;
}
.search-f-select-tag:hover {
	cursor: pointer;
}
.search-f-select,
.search-f-text-field,
.search-f-submit
 {
	 margin-top: 20px;
	 margin-bottom: 10px;
}
.search-f-submit-btn {
	color: white;
	background-color: rgb(5, 110, 197);
	width: 100%;
}
.search-f-submit-btn:hover {
	background-color: rgb(2, 95, 172);
}
// genres-----------------
.genres {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.genres div {
	position: relative;
}
.genres div:hover {
	outline: 1px solid orange;
}
.genre-name {
	position: absolute;
	top: 200px;
	color: white;
	font-weight: bold;
	font-size: 18px;
  width: 100%;
	text-align: center;
	z-index: 1;
}
.genre-img {
	height: 250px;
	width: 200px;
	object-fit: cover;
	border-radius: 5px;
	margin: 15px;
	opacity: 0.8;
}
// keywords---------------
.keywords {
	width: 80%;
	margin: 0 auto;
}
.keyword-list {
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.keyword-list li {
	border: 1px solid #ddd;
	padding: 3px;
	margin: 3px;
	display: inline-block;
}
// -----------------------
.flex-recommended-item-tables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  align-content: space-around;
}
.recommended-item-table {
  height: 400px;
  width: 300px;
}
.recommended-item-table-layout {
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 5px #ddd;
  border-radius: 5px;
  background-color: white;
}
.title {
	margin-left: 40px;
	margin-bottom: 20px;
}
.recent-reviews {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 10px;
}
.recent-review {
	width: 660px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin: 0 10px 30px;
}
.elems {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
.left-elem {
	margin-right: 30px;
}
.right-elem {
	width: 70%;
}
.flex-bet {
	display: flex;
	justify-content: space-between;
}
.review-body * {
	margin-top: 10px;
}
.review-img {
	width: 250px;
	height: auto;
}
//---end-----------------------------------------------------

//---about---------------------------------------------------
#about_background {
	height: 640px;
	width: 100%;
	background-image: image-url("supplement.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
}

#about_headline {
	color: white;
	position: relative;
	top: 200px;
	padding-bottom: 10px;
}

.about_text {
	color: white;
	position: relative;
	top: 200px;
	padding-bottom: 3px;
}
//---end-----------------------------------------------------

@media screen and (max-width:768px) {
	.top-row:nth-child(1) {
		margin-right: 0;
	}
	.fa-plus-square, .fa-minus-square {
		font-size: 25px;
	}
	#top-nav-list {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 60%;
		min-height: 100%;
		z-index: 1;
		background-color: white;
		padding: 0;
	}
	#top-nav-list > li {
		margin-bottom: 5px;
	}
	.top-flex {
		flex-direction: column;
	}
	.skills-flex {
		flex-direction: column;
	}
	.skills-list {
		text-align: center;
	}
	.portfolio-pic {
	    height: 175px;
	}
	.right-elem {
		width: 100%;
	}
}
